@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Crimson Pro", serif;
  display: flexbox;
}

.text-left {
  text-align: left;
  color: white;
}

.text-right {
  text-align: right;
  color: white;
}

.ahscsico:hover {
  transform: scale(1.1);
}

.ahscsico {
  transition: transform 0.2s;
  height: 3rem;
  margin: 0 auto;
}

.white-text {
  color: white;
}

.nav-item {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.3em;
}

.bottom {
  background-color: #2f2e2e;
  height: max-content;
}

.container-fluid {
  padding: 0;
  overflow: auto;
}

.aboutus {
  background-color: #f8f8ff;
  text-align: center;
}

.programs div {
  border-radius: 25px;
  padding: 20px;
  height: 400px;
  background-color: white;
  text-align: center;
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  align-self: center;
}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carousel {
  width: 640px;
  height: 360px;
}
.underlined-text {
  text-decoration: underline;
}

.ourmissiontxt {
  background-color: white;
  text-align: left;
  width: 50%;
  float: left;
}

.ourmission {
  width: 50%;
  float: right;
  text-align: right;
}

.aesthetic {
  background: linear-gradient(
    to bottom left,
    transparent 0%,
    transparent 50%,
    #acbeff 50%,
    #acbeff 100%
  );
  height: 100px;
}

.cooltriangle {
  background: linear-gradient(
    to top right,
    transparent 0%,
    transparent 50%,
    #acbeff 50%,
    #acbeff 100%
  );
  height: 100px;
}

.middleschool {
  text-align: right;
  background-color: #acbeff;
}

.transition {
  background: linear-gradient(180deg, #ffffff 26%, #f8f8ff 74%);
  height: 17px;
}

.benefits {
  background-color: #acbeff;
  text-align: left;
  background-repeat: no-repeat;
}

.navbar {
  background-color: white;
  padding: 0.5rem 1rem !important;
  box-shadow: 0 0.5rem 0.5rem rgb(0 0 0 / 10%);
  z-index: 1;
}

.navbar-nav {
  margin-left: auto !important;
}

.btn {
  background-color: #051e3d;
  color: white;
}

.banner {
  background-image: url("/images/codeheader.PNG");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  height: 300px;
  color: white;
}

@media screen and (max-width: 992px) {
  .col {
    flex: none;
  }
  .ourmissiontxt {
    width: 100%;
  }
  .ourmission {
    text-align: center;
    width: 100%;
  }
  .ourmission img {
    height: 250px;
  }
  .calendar iframe {
    margin-left: 0;
    margin-right: 0;
  }
  .banner {
    background-image: url("/images/codeheadercrop.PNG");
  }
  .aesthetic {
    height: 50px;
  }
  .cooltriangle {
    height: 50px;
  }
}

.events {
  text-align: center;
}

.btn-normal {
  transition: transform 0.2s;
  background-color: #051e3d;
  color: white;
}

.btn-normal:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.1);

}

.btn-donate {
  transition: transform 0.2s;
  background-color: #1b8505;
  color: white;

}

.btn-donate:hover {
  color: rgb(216, 255, 190);
  background-color: #2b9515;
  transform: scale(1.1);

}

.btn-orange {
  transition: transform 0.2s;
  background-color: #ff5f00;
  color: white;

}

.btn-orange:hover {
  color: rgb(187, 88, 58);
  background-color: #ffd297;
  transform: scale(1.1);

}

.banner-opp {
  background-image: url("/images/tweet.png");

  /* placeholder is placeholder (obviously) replace when nessecary*/

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  height: 300px;
  color: white;
}

.team-card {
  border-radius: 25px;
  padding: 20px;
  height: 400px;
  background-color: white;
  text-align: center;
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  align-self: center;
}

.banner-team {
  background-image: url("/images/codeheader.PNG");

  /* peter is also placeholder (obviously) replace when nessecary*/

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  height: 300px;
  color: white;
}

.backer-card {
    border-radius: 25px;
    padding: 20px;
    height: 400px;
    background-color: white;
    text-align: center;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;

}

@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
  opacity:0;
}
.console-container {
  font-family: 'Khula', sans-serif;
  font-size:4em;
  color:rgb(43, 255, 0);

}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

blockquote {
  width: 120%;
  font-weight: bold;
  font-size: 100%;
  margin-left: -20%;
  padding-bottom: 1%;
  padding-left: 10%;
  word-break: keep-all;
}

blockquote::before {
  content: "\201C";
  color: rgb(121, 162, 207);
  font-size: 600%;
  position: relative;
  transform: translate(-150%,-50%)
}

blockquote::after {
  content: "\201D";
  color: rgb(121, 162, 207);
  font-size: 600%;
  position:relative;
  transform: translate(75%,5%);
}

small {
  color: gray;
  font-size: 125%;
}


.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

.accordian-item{
  background: transparent;
  border: none; 
}

.bullpup-logo {
  float: right; 
  margin: -10%;
  margin-right: 0%;
}

